@*
    created by Kondabolu
*@
@{
    ViewData["Title"] = "Confirmation";
}
@model BuyTicketsModel

<h2>Ticket Purchase confirmation</h2>
<table>
    @*Display all the BuyTicketsModel properties *@
    <tr>
        <td class="text-dark"> Order DATE:</td>
        <td> @Model.SaleDate</td>
    </tr>
    <tr>
        <td Class"Text-dark"> Events:</td>
        <td>@Model.EventName</td>
    </tr>
    <tr>
        <td Class"Text-dark"> Number of tickets:</td>
        <td>@Model.NumberOfTickets</td>
    </tr>
    <tr>
        <td Class"Text-dark"> TicketPrice:</td>
        <td>@Model.Ticketprice</td>
    </tr>
    <tr>
        <td Class"Text-dark"> SubTotal:</td>
        <td>@Model.SubTotal.ToString("C2")</td>
    </tr>
    <tr>
        <td Class"Text-dark"> Discount amount:</td>
        <td>@Model.SalesDiscount.ToString("C2")</td>
    </tr>
    <tr>
        <td Class"Text-dark"> Delivery Amount:</td>
        <td>@Model.DeliveryCharge.ToString("C2")</td>
    </tr>
    <tr>
        <td Class"Text-dark"> Amount Due:</td>
        <td>@Model.AmountDue.ToString("C2")</td>
    </tr>


</table>
